:root {
  font-size: 16px;
}
.cards-container {
  --main-color: #17a2b8;
  --secondary-color: #065e5a;

  text-align: center;
}
.container-title {
  padding: 20px;

  font-size: 1.5em;
  font-weight: bold;
}
.card-wrapper {
  --img-size: 100px;
  display: inline-block;
  min-width: calc(3*var(--img-size));
  width: 100%;
  max-width: calc(3.5*var(--img-size));
  border: 1px solid  var(--main-color);
  margin: 10%;

  text-align: center;
  font-family: sans-serif;
}
.card-bg-header {
  height: calc(1.3*var(--img-size));

  background-color: var(--main-color);
}
.card-content {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: calc(0.5*var(--img-size)*-1);
}
.photo {
  box-sizing: border-box;
  width: var(--img-size);
  height: var(--img-size);
  padding:4px;
  border: 1px solid grey;
  border-radius: 50%;

  background-color: white;

  object-fit: cover;
  object-position: top;
}
.fullname-user {
  padding: 15px;

  font-size: 1.2em;
}
.format-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}
.btn-wrapper {
  border-top: 1px solid;
  border-bottom: 1px solid ;
  border-color: rgb(232,232,232);
  padding: 20px 0;
  margin: 15px 0;
}
.btn-wrapper :first-child {
  background-color: #28A745;
}
.btn-wrapper :last-child {
  background-color: var(--main-color);
}
.btn {
  max-width: 40%;
  padding: 7px;
  border: none;
  border-radius: 5%;

  color: white;
}
.btn:hover {
  background-color: var(--secondary-color);
}
.btn:focus,
.social-icon:focus {
  outline: 2px solid var(--secondary-color);
}
.card-content>p {
  padding-bottom: 30px;
}
.card-footer {
  padding: 15px;
  background-color: var(--main-color);
}
.social-icon {
  display: inline-block;
  width: 32px;
  height: 32px;

  background-size: 26px;
  background-repeat: no-repeat;
  background-position: center;
}
.fb {
  background-image: url(../icons/facebook.png);
}
.google {
  background-image: url(../icons/google-plus.png);
}
.twitter {
  background-image: url(../icons/twitter.png);
}